@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:wght@:400;500;700;900&display=swap");
/*--------------------------------------------------------------------------------------------------

   common

--------------------------------------------------------------------------------------------------*/
/* ==========================================================================
   Foundation
   ========================================================================== */
/*reset-------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
l,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  border: none;
  vertical-align: top; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
  display: block; }

input,
textarea {
  margin: 0;
  padding: 0; }

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

table {
  border-spacing: 0; }

caption,
th {
  text-align: left; }

img,
a img {
  border: none; }

a {
  cursor: pointer; }

/*-------------------------------------------------reset*/
/*base-------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }
  @media (max-width: 768px) {
    body {
      font-size: 3.864vw; } }

.font-sawarabi-gothic {
  font-family: 'Sawarabi Gothic', sans-serif; }

.font-noto-san-jp {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif; }

a {
  color: #595757;
  text-decoration: none;
  display: block; }

a:hover {
  opacity: 0.5;
  transition: 0.3s; }

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

address {
  font-style: normal; }

img {
  width: 100%;
  height: inherit;
  object-fit: cover; }

/*-------------------------------------------------base*/
/* ==========================================================================
   Layout
   ========================================================================== */
/*--------------------------------------------------------------------------------------------
  header
--------------------------------------------------------------------------------------------*/
.l-header {
  padding: 5px 0;
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    .l-header {
      height: 13.524vw;
      padding: 1.449vw 0; }
      .l-header.fixed {
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        top: -1px;
        left: 0;
        z-index: 9999;
        background: #fff; } }
  .l-header__logo {
    width: 281px;
    position: relative;
    left: -17px;
    top: 4px; }
    @media (max-width: 768px) {
      .l-header__logo {
        width: 32.6vw;
        position: unset; } }
    .l-header__logo a {
      display: block;
      width: 100%;
      height: 108px; }
      @media (max-width: 768px) {
        .l-header__logo a {
          height: 10.144vw; } }
  .l-header .l-wrapper {
    justify-content: space-between; }
  .l-header__menu {
    display: flex;
    align-items: center; }
    @media (max-width: 768px) {
      .l-header__menu {
        flex-direction: column; } }
    @media (min-width: 769px) {
      .l-header__menu li:not(:last-child) {
        margin-right: 33px; } }
    @media (min-width: 769px) and (max-width: 1024px) {
      .l-header__menu li:not(:last-child) {
        margin-right: 15px; } }
    @media (max-width: 768px) {
      .l-header__menu li:not(:last-child) {
        width: 100%;
        border-top: 1px solid #d8d8d8;
        margin-right: 0; }
        .l-header__menu li:not(:last-child) a {
          flex-grow: 1;
          padding: 3.381vw 3.13vw 3.6225vw;
          position: relative;
          font-size: 3.622vw; }
          .l-header__menu li:not(:last-child) a::after {
            content: '-';
            position: absolute;
            top: 48%;
            left: 6px;
            transform: translateY(-50%); } }
    .l-header__menu a {
      color: #000000; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .l-header__menu a {
          white-space: nowrap; } }
  @media (max-width: 768px) {
    .l-header__right {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 15.697vw; } }
  .l-header__contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 7px 0 15px; }
    @media (max-width: 768px) {
      .l-header__contact {
        flex-direction: column-reverse;
        margin: 4.1vw 0 3.622vw;
        text-align: center; } }
    .l-header__contact li:not(:last-child) {
      margin-right: 12px; }
      @media (max-width: 768px) {
        .l-header__contact li:not(:last-child) {
          margin-right: 0;
          margin-top: 4.83vw; } }
    .l-header__contact li:last-child {
      display: flex; }
      .l-header__contact li:last-child a:not(:last-child) {
        margin-right: 15px; }
    .l-header__contact--time {
      font-size: 1.2rem; }
      @media (max-width: 768px) {
        .l-header__contact--time {
          font-size: 2.898vw; } }
      .l-header__contact--time p {
        letter-spacing: 1px; }
    .l-header__contact--phone {
      color: #e67c00;
      font-weight: 700;
      font-size: 3rem;
      pointer-events: none;
      padding-left: 33px;
      position: relative;
      letter-spacing: 3.3px; }
      @media (max-width: 768px) {
        .l-header__contact--phone {
          font-size: 6.762vw; } }
      .l-header__contact--phone::after {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../image/img-phone.png) no-repeat center;
        background-size: cover; }

/* ------------------------------------
header-toggle
------------------------------------ */
.header-toggle {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 999999;
  background: #000; }
  @media (max-width: 768px) {
    .header-toggle {
      width: 14.7172vw;
      height: 13.524vw; } }
  .header-toggle:hover {
    cursor: pointer; }
  .header-toggle div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 18px auto 0; }
    @media (min-width: 769px) {
      .header-toggle div {
        width: 38px;
        height: 22px; } }
    @media (max-width: 768px) {
      .header-toggle div {
        width: 10vw;
        height: 4.825vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0; } }
  .header-toggle span {
    width: 100%;
    background: #fff;
    transition: 0.3s; }
    @media (min-width: 769px) {
      .header-toggle span {
        width: 38px;
        height: 2px; } }
    @media (max-width: 768px) {
      .header-toggle span {
        width: 85%;
        height: 2px; } }
  .header-toggle.active div {
    justify-content: center; }
  .header-toggle.active span:nth-child(1) {
    transform: translateY(1px) rotate(-45deg); }
    @media (max-width: 768px) {
      .header-toggle.active span:nth-child(1) {
        transform: translateY(2px) rotate(-45deg); } }
  .header-toggle.active span:nth-child(2) {
    display: none; }
  .header-toggle.active span:nth-child(3) {
    transform: translateY(-1px) rotate(45deg); }

@media (max-width: 768px) {
  .js-nav-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 3vw 3vw 10vw 2.6vw;
    overflow: scroll;
    z-index: 9000;
    transition: .3s;
    opacity: 0;
    visibility: hidden; } }

.js-nav-menu.active {
  opacity: 1;
  visibility: visible; }

.js-nav-menu .l-header__logo {
  margin: 13.4352vw auto 0; }

/*-------------------------------------------------header*/
/*------------------------------------------------------------------------------------------------
  main
--------------------------------------------------------------------------------------------------*/
.l-wrapper {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto; }

/*改行クラス（PC）*/
.breakLinePc {
  display: block; }

/*改行クラス（SP）*/
.breakLineSp {
  display: inline; }

/*スクロールフェードイン効果*/
.fadeInWrapTop {
  display: block;
  position: relative;
  transition-duration: 1.0s;
  opacity: 0;
  bottom: -50px; }

.fadeInWrapTop.active {
  opacity: 1;
  bottom: 0; }

.fadeInWrapBegin {
  position: relative;
  transition-duration: 1.0s;
  opacity: 0;
  bottom: -50px; }

.fadeInWrapBegin.active {
  opacity: 1;
  bottom: 0; }

.fadeInWrapBegin02 {
  position: relative;
  transition-duration: 1.0s;
  transition-timing-function: ease-in-out;
  opacity: 0; }

.fadeInWrapBegin02.active {
  opacity: 1; }

.fadeInWrapRight {
  position: relative;
  transition-duration: 1.0s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  right: -50px; }

.fadeInWrapRight.active {
  opacity: 1;
  right: 0; }

.fadeInWrapLeft {
  position: relative;
  transition-duration: 1.0s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  left: -50px; }

.fadeInWrapLeft.active {
  opacity: 1;
  left: 0; }

.img-symb {
  width: 28px;
  height: 28px; }
  @media (max-width: 768px) {
    .img-symb {
      width: 6.762vw;
      height: 6.762vw; } }

.txt-orange {
  color: #e67c00; }

.p-title-head {
  color: #e67c00;
  text-align: center;
  position: relative;
  z-index: 2; }
  .p-title-head .h3 {
    font-size: 11.3rem;
    line-height: 1;
    letter-spacing: 9px;
    font-weight: 400; }
    @media (max-width: 768px) {
      .p-title-head .h3 {
        font-size: 21.735vw;
        letter-spacing: 0; } }
  .p-title-head .txt {
    display: inline-block;
    font-size: 1.7rem;
    border-top: 1px solid #e67c00;
    letter-spacing: 1px;
    margin-top: 8px;
    padding-top: 5px; }
    @media (max-width: 768px) {
      .p-title-head .txt {
        font-size: 3.622vw; } }

.p-frame__list {
  display: flex;
  justify-content: space-between; }

.p-frame__item {
  width: 299px;
  color: #333333; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .p-frame__item {
      width: 30%; } }
  .p-frame__item--img {
    width: 100%;
    height: 0;
    padding-bottom: 66%;
    margin-bottom: 17px;
    line-height: 0;
    position: relative;
    overflow: hidden; }
    .p-frame__item--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto; }
  .p-frame__item--txt {
    font-size: 1.3rem; }
  .p-frame__item--title {
    font-size: 1.8rem;
    margin-top: 6px; }
  .p-frame__item--list_category {
    display: flex;
    flex-wrap: wrap; }
    .p-frame__item--list_category li {
      background-color: #e67c00;
      color: #fff;
      font-size: 1.4rem;
      min-width: 190px;
      padding: 3px 0 3px 18px;
      white-space: nowrap; }
  .p-frame__item--date {
    font-size: 1.3rem;
    margin-top: 15px;
    letter-spacing: 1px; }

.p-frame-detail .p-frame__item--title {
  font-size: 3rem;
  letter-spacing: 2px; }
  @media (max-width: 768px) {
    .p-frame-detail .p-frame__item--title {
      font-size: 6.762vw; } }

.p-frame-detail__list {
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 21px;
  padding: 71px 0 101px; }
  @media (max-width: 768px) {
    .p-frame-detail__list {
      border-radius: 12px;
      margin-top: 2.9vw;
      padding: 8.45vw 0 12vw; } }

.p-frame-detail__item {
  max-width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .p-frame-detail__item {
      max-width: 90%; } }
  .p-frame-detail__item:not(:first-child) {
    margin-top: 49px; }
    @media (max-width: 768px) {
      .p-frame-detail__item:not(:first-child) {
        margin-top: 6vw; } }
  .p-frame-detail__item h4 {
    font-size: 2rem;
    margin-top: 56px; }
    @media (max-width: 768px) {
      .p-frame-detail__item h4 {
        font-size: 4.3vw;
        margin-top: 6.732vw; } }
  .p-frame-detail__item p {
    font-size: 1.5rem;
    margin-top: 40px;
    line-height: 2.5; }
    @media (max-width: 768px) {
      .p-frame-detail__item p {
        font-size: 3.1vw;
        margin-top: 4.83vw;
        line-height: 2.2; } }

.p-frame-detail .p-frame__item--txt {
  border-top: 1px solid #333333;
  color: #333333;
  padding-top: 20px;
  line-height: 1.8; }

.p-frame-detail .c-button__orange {
  margin-top: 71px;
  background-color: #e67c00;
  color: #fff !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 96px 21px 75px;
  opacity: 1; }
  .p-frame-detail .c-button__orange:hover {
    opacity: 0.5; }
  .p-frame-detail .c-button__orange::after {
    background: url(../image/icon-arrow-white.png) no-repeat center;
    background-size: cover; }
  @media (max-width: 768px) {
    .p-frame-detail .c-button__orange {
      margin-top: 8.45vw;
      padding: 4.1vw 23vw 5vw 18vw; } }

.note-img {
  position: relative; }
  .note-img::after {
    content: '写真はアタリです';
    font-size: 1.4rem;
    color: #333333;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #fff;
    z-index: 9999;
    width: 112px;
    height: 16px;
    line-height: 1;
    padding: 8px; }
    @media (max-width: 768px) {
      .note-img::after {
        display: none; } }

/*-------------------------------------------------main*/
/*------------------------------------------------------------------------------------------------
  footer
--------------------------------------------------------------------------------------------------*/
.l-footer__support {
  background: url(../image/bg-frame5.png) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 63px 0 59px; }
  @media (max-width: 768px) {
    .l-footer__support {
      background-position: unset;
      padding: 7.24vw 0; } }
  .l-footer__support__content {
    background: #fff;
    width: 450px;
    padding: 11px 33px 7px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .l-footer__support__content {
        width: 100%;
        padding: 2.6565vw 2.6565vw 1.69vw; } }
    .l-footer__support__content h4 {
      font-size: 3.5rem;
      line-height: 1.4; }
      @media (max-width: 768px) {
        .l-footer__support__content h4 {
          font-size: 7.9695vw; } }
    .l-footer__support__content p {
      font-size: 1.9rem; }
  .l-footer__support .c-button__orange {
    margin-top: 50px;
    padding: 17px 73px 21px 55px;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .l-footer__support .c-button__orange {
        margin-top: 9.66vw;
        padding: 1.69vw 17.63vw 5.07vw 13.28vw; } }

.l-footer__contact {
  background: url(../image/bg-orange2.jpg) no-repeat;
  background-size: cover;
  padding: 26px 0 60px; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .l-footer__contact .l-wrapper {
      max-width: 95%; } }
  @media (max-width: 768px) {
    .l-footer__contact {
      padding: 3.13vw 0 7.2453vw; } }
  .l-footer__contact .p-title-head {
    text-align: left;
    color: #fff; }
    .l-footer__contact .p-title-head .txt {
      border-top: 1px solid #fff; }
  .l-footer__contact__list-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 48px; }
    @media (max-width: 768px) {
      .l-footer__contact__list-btn {
        display: block;
        margin-top: 5.796vw; } }
  .l-footer__contact__box-txt {
    text-align: center; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .l-footer__contact__box-txt {
        max-width: calc(50% - 10px); } }
    @media (max-width: 768px) {
      .l-footer__contact__box-txt {
        margin-bottom: 4.83vw; } }
    .l-footer__contact__box-txt:nth-child(1) .c-button__contact::after {
      content: '';
      position: absolute;
      top: 50%;
      left: auto;
      bottom: auto;
      right: 18px;
      width: 32px;
      height: 32px;
      background: url("../image/icon-arrow.svg") no-repeat center;
      background-size: cover;
      transform: translateY(-50%); }
      @media (min-width: 769px) and (max-width: 1024px) {
        .l-footer__contact__box-txt:nth-child(1) .c-button__contact::after {
          content: '';
          position: absolute;
          top: 50%;
          left: auto;
          bottom: auto;
          right: 10px;
          width: 33px;
          height: 32px;
          background: url("../image/icon-arrow.svg") no-repeat center;
          background-size: cover; } }
      @media (max-width: 768px) {
        .l-footer__contact__box-txt:nth-child(1) .c-button__contact::after {
          content: '';
          position: absolute;
          top: 50%;
          left: auto;
          bottom: auto;
          right: 18px;
          width: 7.728vw;
          height: 7.828vw;
          background: url("../image/icon-arrow.svg") no-repeat center;
          background-size: cover; } }
    .l-footer__contact__box-txt:nth-child(1) .c-button__contact .h4 {
      position: relative; }
      .l-footer__contact__box-txt:nth-child(1) .c-button__contact .h4::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 43px;
        bottom: auto;
        right: auto;
        width: 46px;
        height: 34px;
        background: url("../image/img-mail.png") no-repeat center;
        background-size: cover;
        transform: translateY(-50%); }
        @media (min-width: 769px) and (max-width: 1024px) {
          .l-footer__contact__box-txt:nth-child(1) .c-button__contact .h4::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            bottom: auto;
            right: auto;
            width: 35px;
            height: 26px;
            background: url("../image/img-mail.png") no-repeat center;
            background-size: cover; } }
        @media (max-width: 768px) {
          .l-footer__contact__box-txt:nth-child(1) .c-button__contact .h4::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 2.41vw;
            bottom: auto;
            right: auto;
            width: 8.9355vw;
            height: 6.52vw;
            background: url("../image/img-mail.png") no-repeat center;
            background-size: cover; } }
    .l-footer__contact__box-txt:nth-child(2) .c-button__contact {
      padding-left: 40px; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .l-footer__contact__box-txt:nth-child(2) .c-button__contact {
          padding-left: 20px; } }
      @media (max-width: 768px) {
        .l-footer__contact__box-txt:nth-child(2) .c-button__contact {
          padding-left: 0; } }
      .l-footer__contact__box-txt:nth-child(2) .c-button__contact .h4 {
        font-size: 3.7rem;
        position: relative; }
        @media (max-width: 768px) {
          .l-footer__contact__box-txt:nth-child(2) .c-button__contact .h4 {
            font-size: 8.935vw;
            padding-left: 2.415vw; } }
        .l-footer__contact__box-txt:nth-child(2) .c-button__contact .h4::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 10px;
          bottom: auto;
          right: auto;
          width: 58px;
          height: 57px;
          background: url("../image/img-phone.png") no-repeat center;
          background-size: cover;
          transform: translateY(-50%); }
          @media (min-width: 769px) and (max-width: 1024px) {
            .l-footer__contact__box-txt:nth-child(2) .c-button__contact .h4::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 2px;
              bottom: auto;
              right: auto;
              width: 38px;
              height: 38px;
              background: url("../image/img-phone.png") no-repeat center;
              background-size: cover; } }
          @media (max-width: 768px) {
            .l-footer__contact__box-txt:nth-child(2) .c-button__contact .h4::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 2.415vw;
              bottom: auto;
              right: auto;
              width: 11.1vw;
              height: 10.86vw;
              background: url("../image/img-phone.png") no-repeat center;
              background-size: cover; } }
  .l-footer__contact__txt {
    display: inline-block;
    text-align: center;
    padding: 0 28px;
    position: relative;
    margin-bottom: 18px; }
    @media (max-width: 768px) {
      .l-footer__contact__txt {
        padding: 0 3.38vw; } }
    .l-footer__contact__txt::after {
      content: '';
      position: absolute;
      top: 0;
      left: auto;
      bottom: auto;
      right: 0;
      width: 28px;
      height: 50px;
      background: url("../image/v-right.png") no-repeat center;
      background-size: cover; }
    .l-footer__contact__txt::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      width: 28px;
      height: 50px;
      background: url("../image/v-left.png") no-repeat center;
      background-size: cover; }
  .l-footer__contact .c-button__contact {
    width: 466px;
    min-height: 177px;
    background-color: #fff;
    border-radius: 10px;
    color: #e67c00;
    padding-top: 35px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .l-footer__contact .c-button__contact {
        max-width: 100%;
        padding-left: 15px; } }
    @media (max-width: 768px) {
      .l-footer__contact .c-button__contact {
        width: 100%;
        padding-top: 5.55vw;
        min-height: 33.8vw; } }
    .l-footer__contact .c-button__contact .p {
      font-size: 1.8rem;
      font-weight: 700; }
      @media (max-width: 768px) {
        .l-footer__contact .c-button__contact .p {
          font-size: 3.8641vw; } }
    .l-footer__contact .c-button__contact .h4 {
      font-size: 2.7rem;
      font-weight: 700; }
      @media (max-width: 768px) {
        .l-footer__contact .c-button__contact .h4 {
          font-size: 6vw; } }

.l-footer__info {
  background: url(../image/bg-footer.jpg) no-repeat center;
  background-size: cover;
  padding: 44px 0 37px;
  color: #333333; }
  @media (max-width: 768px) {
    .l-footer__info {
      padding: 5.31vw 0 4.34vw; } }
  .l-footer__info .u-flex {
    justify-content: space-between; }
    @media (max-width: 768px) {
      .l-footer__info .u-flex {
        display: block; } }
  .l-footer__info--left p:first-child {
    font-size: 1.2rem; }
  .l-footer__info--left p:last-child {
    font-size: 1.4rem;
    margin-top: 20px; }
  .l-footer__info--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 17px; }
    @media (max-width: 768px) {
      .l-footer__info--right {
        align-items: flex-start; } }
    .l-footer__info--right a {
      display: block;
      width: 166px;
      height: 48px; }
      @media (max-width: 768px) {
        .l-footer__info--right a {
          width: 40vw;
          height: 11.59vw; } }
      .l-footer__info--right a:not(:first-child) {
        margin-top: 20px; }
        @media (max-width: 768px) {
          .l-footer__info--right a:not(:first-child) {
            margin-top: 4.83vw; } }
      .l-footer__info--right a:nth-child(3) {
        width: 237px; }
        @media (max-width: 768px) {
          .l-footer__info--right a:nth-child(3) {
            width: 57.23vw; } }
    .l-footer__info--right p {
      font-size: 1.2rem;
      margin-top: 28px;
      letter-spacing: 1px; }
      @media (max-width: 768px) {
        .l-footer__info--right p {
          margin-top: 3.38vw; } }

.l-footer__logo a {
  display: block;
  width: 262px;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .l-footer__logo a {
      width: 63vw;
      margin-top: 4.8vw; } }

/*-------------------------------------------------footer*/
/* ==========================================================================
   Object
   ========================================================================== */
/*------------------------------------------------------------------------------------------------
  Component
--------------------------------------------------------------------------------------------------*/
.c-btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 2.5px; }
  .c-btn--gray {
    padding: 10px 45px 10px 22px;
    border-radius: 47px;
    font-size: 18px;
    color: #fff;
    background: #7d6e72 url(../image/icon-dot.png) no-repeat right 20px center; }
  .c-btn--red {
    padding: 13px 100px;
    border-radius: 60px;
    font-size: 23px;
    color: #fff;
    background: url(../image/icon-dot.png) no-repeat right 35px center #c10000; }
  .c-btn--white {
    padding: 10px 45px 10px 22px;
    border-radius: 47px;
    font-size: 18px;
    color: #83777a;
    border: 2px solid #7d6e72;
    background: #fff url(../image/icon-dot-gray.png) no-repeat right 20px center; }

.c-button__inquiry {
  display: inline-block;
  color: #fff !important;
  padding: 5px 24px;
  background-color: #665947;
  border-radius: 3px; }
  @media (max-width: 768px) {
    .c-button__inquiry {
      padding: 1.2vw 5.796vw;
      font-size: 3.622vw; } }

.c-button__orange {
  display: inline-block;
  border: 1px solid #e67c00;
  background: #fff;
  color: #e67c00 !important;
  padding: 17px 92px 21px 73px;
  border-radius: 35px;
  position: relative;
  letter-spacing: 2.6px;
  font-size: 1.7rem;
  max-height: 68px;
  text-align: center; }
  @media (max-width: 768px) {
    .c-button__orange {
      font-size: 3.6625vw;
      max-height: 16.422vw;
      border-radius: 8.211vw; } }
  .c-button__orange .h4 {
    font-size: 2.5rem;
    line-height: 1;
    white-space: nowrap; }
    @media (max-width: 768px) {
      .c-button__orange .h4 {
        font-size: 5.5543vw; } }
  .c-button__orange .txt {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 1px;
    white-space: nowrap;
    margin-top: 6px; }
  .c-button__orange::after {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../image/icon-arrow.svg) no-repeat center;
    background-size: cover; }
    @media (max-width: 768px) {
      .c-button__orange::after {
        width: 6.894vw;
        height: 6.894vw; } }

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px; }
  @media (max-width: 768px) {
    .paging {
      margin-top: 10.143vw; } }
  .paging__numbers, .paging__btn, .paging__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer; }
    @media (max-width: 768px) {
      .paging__numbers, .paging__btn, .paging__dots {
        font-size: 3.381vw; } }
  .paging__dots {
    width: 4rem;
    height: 4rem;
    color: #e67c00;
    cursor: initial;
    padding-bottom: 8px; }
    @media (max-width: 768px) {
      .paging__dots {
        height: 9.177vw;
        width: 9.177vw;
        margin: 0 1.2vw; } }
  .paging__numbers {
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    border: 1px solid #e67c00;
    color: #e67c00; }
    @media (max-width: 768px) {
      .paging__numbers {
        height: 9.177vw;
        width: 9.177vw;
        margin: 0 1.2vw; } }
    .paging__numbers:hover {
      color: #ffffff;
      background: #e67c00; }
    .paging__numbers.active {
      color: #ffffff;
      background: #e67c00;
      font-weight: 600;
      border: 1px solid #e67c00; }
  .paging__btn {
    color: #e67c00;
    width: 3.4rem;
    height: 3.4rem; }
    @media (max-width: 768px) {
      .paging__btn {
        height: 9.177vw;
        width: 9.177vw;
        margin: 0 1.2vw; } }
    .paging__btn:hover {
      opacity: 0.5; }
    .paging__btn .icon-material {
      width: 100%;
      position: relative; }
      .paging__btn .icon-material::after {
        content: '';
        width: 3.4rem;
        height: 3.4rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(../image/img-arrow-right.png) no-repeat center;
        background-size: cover; }
        @media (max-width: 768px) {
          .paging__btn .icon-material::after {
            height: 9.177vw;
            width: 9.177vw; } }
      .paging__btn .icon-material.material-left::after {
        background: url(../image/img-arrow-left.png) no-repeat center;
        background-size: cover; }
    .paging__btn.active {
      pointer-events: initial; }

/*-------------------------------------------------Component*/
/*------------------------------------------------------------------------------------------------
  Project
--------------------------------------------------------------------------------------------------*/
.p-heading {
  text-align: center; }
  .p-heading span {
    font-size: 24px;
    letter-spacing: 2.5px;
    display: inline-block;
    padding: 0 24px 12px 43px;
    text-transform: uppercase; }
  .p-heading--white span {
    color: #c0272d;
    border-bottom: 2px solid #fff;
    display: inline-block;
    position: relative; }
    .p-heading--white span::after {
      content: "";
      position: absolute;
      right: -12px;
      bottom: 0;
      width: 12px;
      height: 20px;
      bottom: -2px;
      background: url("../image/icon-heading-white.png") no-repeat right bottom; }
  .p-heading--red span {
    color: #c0272d;
    border-bottom: 2px solid #dc6f73;
    display: inline-block;
    position: relative; }
    .p-heading--red span::after {
      content: "";
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 8px;
      height: 13px;
      bottom: -2px;
      background: url("../image/icon-heading-red.png") no-repeat right bottom; }

/*-------------------------------------------------Project*/
/*------------------------------------------------------------------------------------------------
  utility
--------------------------------------------------------------------------------------------------*/
.u-al-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.u-al-right {
  text-align: right; }

.u-al-left {
  text-align: left; }

.u-fl-left {
  float: left; }

.u-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; }

.u-clear {
  display: block; }
  .u-clear::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* mac \*/
* html .u-clear {
  height: 1%; }

/*-------------------------------------------------utility*/

/*# sourceMappingURL=common.css.map */