
$text-yellow: #d7c5a5;
$text-red: #c0272d;
$text-gray: #83777a;

$bg-yellow: #fffaeb;
$bg-gray: #7d6e72;
$bg-red: #c10000;

$brow: #665947;
$orange: #e67c00;

$gray: #333333;
$gray01: #191919;
$black01: #151617;

//font-family
$font-base: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
